@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

header {
  .navbar {
    width: 95%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__logotype {
      font-family: "mf", sans-serif;
      font-size: 36px;
    }
    .navbar__list {
      border: 1px solid #141414;
      border-radius: 25px;
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @include md {
        margin-right: 20px;
      }
      @include sm {
        margin-right: 20px;
      }
      .navbar__item {
        transition: 250ms;
        &:hover {
          color: $light-color;
        }
      }
    }
    .navbar__bookTrip {
      background-color: #141414;
      color: #fff;
      border-radius: 25px;
      padding: 0.5em 1em;
      transition: 250ms;
      @include md {
        display: none;
      }
      @include sm {
        display: none;
      }
      &:hover {
        background-color: $light-color;
      }
    }
  }
}
