.footer {
  border-top: 2px solid #7e7e7e2d;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  .footer__top {
    width: 95%;
    display: flex;
    flex-direction: row;
    .footer__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .footer__logotype {
        font-family: "mf", sans-serif;
        font-size: 36px;
      }
      .footer__text {
        width: 400px;
        text-align: justify;
      }
    }
    .footer__links {
      width: 100%;
      justify-content: center;
      display: flex;
      gap: 10em;
      .footer__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-transform: capitalize;
        .footer__headline {
          font-weight: 700;
          font-size: 18px;
          span {
            font-style: italic;
          }
        }
        .footer__item {
          font-weight: 500;
          transition: 250ms;
          &:hover {
            color: #7e7e7e;
          }
        }
      }
    }
  }
  .footer__down {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;
    p {
        color: #7e7e7e;
    }
    .footer__listMedia {
      display: flex;
      gap: 10px;
      .footer__itemMedia {
        font-size: 22px;
        transition: 250ms;
        &:hover {
          color: #7e7e7e;
        }
      }
    }
  }
}
